.flex-column {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;
    
    align-content:flex-start;*/
    flex-basis: 100%;
    flex: 1;
}

.subcolumn {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;
    
    align-content:flex-start;*/
    flex-basis: 25%;
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

.subrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
}