input[type="text"] {
  width: 500px;
}
.column1 {
  width: 50%;
  float: left;
}
.CircleText {
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat";
}

.textcircle {
  font-family: "Montserrat";
}

.SquareText {
  display: flex;
  flex-wrap: wrap;
}

.patientpage {
  font-family: "Montserrat";
  padding: 40px 0px 0px 30px;
}
.form1 {
  font-family: "Montserrat";
  padding: 10px 0px 0px 30px;
}
.form2 {
  font-family: "Montserrat";
  padding: 5px 0px;
}
.custom-modal-style {
  width: 75%;
}
.form-row {
  font-family: "Montserrat";
  padding: 10px 0px 0px 30px;
}

.send {
  font-family: "Montserrat";
  padding: 10px 0px 0px 30px;
}

.patienttable {
  font-family: "Montserrat";
}

.ImportCSV {
  font-family: "Montserrat";
  padding: 30px 0px 0px 50px;
}
.ExportCSV {
  font-family: "Montserrat";
  padding: 30px 0px 0px 50px;
}

.csvtitle {
  padding: 0px 0px 10px 20px;
}
.csvtitle2 {
  padding: 0px 0px 10px 30px;
}

.loginform{
  position: absolute;
  left: 37%;
  top: 33%;
  transform: translate(-20%, -20%);
}

.signupform{
  position: absolute;
  left: 37%;
  top: 33%;
  transform: translate(-20%, -20%);
}